.zodiac {
  display: flex;
  flex-wrap: nowrap;
}

.zodiac-button {
  width: 57px;
  height: 57px;
  margin-top: auto;
  margin-bottom: auto;
}

.zodiac-icon {
  display: inline-block;
  overflow: visible;
  box-sizing: content-box;
  height: 1em;
  vertical-align: -0.2em;
  font-size: 1.25em;
  line-height: 0.05em;
}
