{#
/**
 * @file
 * Displays a view in a Zodiac slider.
 *
 * Available variables:
 * - attributes: The HTML attributes for this for this slider instance. This
 *   will include a unique ID for selecting this slider.
 * - rows: A list of the view's row items.
 * - view: The view object.
 *
 * @see template_preprocess_views_view_zodiac()
 */
#}

<div{{ attributes }}>
  <button class="button button--primary zodiac-button zodiac-button-left" data-zodiac-direction="left" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="zodiac-icon zodiac-icon-left" viewBox="0 0 28.93 50">
      <path d="m27.78,1.15h0c-1.54-1.54-4.03-1.54-5.57,0L1.15,22.21c-1.54,1.54-1.54,4.03,0,5.57l21.05,21.07c1.54,1.54,4.03,1.54,5.57,0h0c1.54-1.54,1.54-4.03,0-5.57L9.5,25,27.78,6.73c1.54-1.54,1.54-4.03,0-5.57Z"/>
    </svg>

    <span class="visually-hidden">{{ 'Previous'|t }}</span>
  </button>

  <div class="zodiac-inner">
    <div class="zodiac-track">
      {% for row in rows %}
        <div class="zodiac-item">
          {{ row }}
        </div>
      {% endfor %}
    </div>
  </div>

  <button class="button button--primary zodiac-button zodiac-button-left" data-zodiac-direction="right" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="zodiac-icon zodiac-icon-right" viewBox="0 0 28.93 50">
      <path class="cls-1" d="m1.15,48.85h0c1.54,1.54,4.03,1.54,5.57,0l21.05-21.05c1.54-1.54,1.54-4.03,0-5.57L6.73,1.15c-1.54-1.54-4.03-1.54-5.57,0h0c-1.54,1.54-1.54,4.03,0,5.57l18.27,18.27L1.15,43.27c-1.54,1.54-1.54,4.03,0,5.57Z"/>
    </svg>

    <span class="visually-hidden">{{ 'Next'|t }}</span>
  </button>
</div>
